.main {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    background: white;
    overflow: hidden;
}

#moveTrack {
    display: flex;
    position: absolute;
    width: 196.8%;
    left: 0;
    padding: 0 32px;
    transition: transform .2s ease-in-out;
}

.item {
    display: flex;
    color: white;
    min-width: 11.63%;
    height: 80px;
    align-items: center;
    font-size: 50px;
    justify-content: center;
}

.navigation {
    display: flex;
    position: absolute;
}

#buttonCarPrev {
    display: none;
    position: absolute;
    left: 17px;
    height: 56px;
    width: 40px;
    background: #fff;
    font-size: 25px;
    user-select: none;
    box-shadow: 0 0 1px 0 rgba(12,16,20,.12), 0 2px 8px 0 rgba(12,16,20,.08);
    margin-top: 11px;
    cursor: pointer;
    transition: 0.25s;
    align-items: center;
    justify-content: center;
}

#buttonCarNext {
    display: flex;
    position: absolute;
    right: 17px;
    height: 56px;
    width: 40px;
    font-size: 25px;
    user-select: none;
    box-shadow: 0 0 1px 0 rgba(12,16,20,.12), 0 2px 8px 0 rgba(12,16,20,.08);
    margin-top: 11px;
    cursor: pointer;
    background: #fff;
    align-items: center;
    justify-content: center;
}

#buttonCarPrev:hover, #buttonCarNext:hover {
    background-color: #f3f5f7;
    transition: 0.25s;
}

.layoutPrev {
    display: flex;
    position: absolute;
    height: 100%;
    width: 32px;
    left: 0;
    background: white;
}

.layoutNext {
    display: flex;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 0;
    background: white;
}

#item1, #item2, #item3, #item4, #item5, #item6 {
    margin-right: 24px;
}

@media (min-width: 320px) and (max-width: 568px)
{
    .item {
        min-width: 44.5%;
    }
    .layoutPrev, .layoutNext {
        width: 20px;
    }
    #moveTrack {
        padding: 0 20px;
    }
}
@media (min-width: 568px) and (max-width: 768px)
{
    .item {
        min-width: 22.48%;
    }
}
@media (min-width: 769px) and (max-width: 1024px)
{
    .item {
        min-width: 23.22%;
    }
}
@media (min-width: 1025px) and (max-width: 1280px)
{
    .item {
        min-width:  15.46%;
    }
}
@media (min-width: 1281px) and (max-width: 1366px)
{
    .item {
        min-width:  15.55%;
    }
}