.main {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    background: silver;
    overflow: hidden;
}

#moveTrack {
    display: flex;
    position: absolute;
    width: 196.8%;
    left: 0;
    transition: left 0.5s;
}

.item {
    display: flex;
    background: black;
    color: white;
    margin-left: 0.85%;
    width: calc(100%/8);
    height: 100px;
    align-items: center;
    font-size: 50px;
    justify-content: center;
}

.navigation {
    display: flex;
    position: absolute;
}

.buttonCarPrev {
    display: block;
    position: fixed;
    background: aqua;
    left: 0;
    font-size: 25px;
    user-select: none;
    margin-top: 35px;
    visibility: hidden;
}

.buttonCarNext {
    display: block;
    position: fixed;
    background: aqua;
    right: 0;
    font-size: 25px;
    user-select: none;
    margin-top: 35px;
    visibility: visible;
}