.main {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    background: white;
    overflow: hidden;
}

#moveTrack {
    display: flex;
    position: absolute;
    width: 196.8%;
    left: 0;
    transition: left 0.15s;
}

.item {
    display: flex;
    color: white;
    margin-left: 0.85%;
    width: calc(100%/8);
    height: 80px;
    align-items: center;
    font-size: 50px;
    justify-content: center;
}

.navigation {
    display: flex;
    position: absolute;
}

#buttonCarPrev {
    display: flex;
    position: absolute;
    left: 17px;
    height: 56px;
    width: 40px;
    background: #fff;
    font-size: 25px;
    user-select: none;
    visibility: hidden;
    box-shadow: 0 0 1px 0 rgba(12,16,20,.12), 0 2px 8px 0 rgba(12,16,20,.08);
    margin-top: 11px;
    cursor: pointer;
    transition: 0.25s;
    align-items: center;
    justify-content: center;
}

#buttonCarNext {
    display: flex;
    position: absolute;
    right: 17px;
    height: 56px;
    width: 40px;
    font-size: 25px;
    user-select: none;
    visibility: visible;
    box-shadow: 0 0 1px 0 rgba(12,16,20,.12), 0 2px 8px 0 rgba(12,16,20,.08);
    margin-top: 11px;
    cursor: pointer;
    background: #fff;
    align-items: center;
    justify-content: center;
}

#buttonCarPrev:hover, #buttonCarNext:hover {
    background-color: #f3f5f7;
    transition: 0.25s;
}