body {
    margin: 40px 0px 0px 0px;
    background: linear-gradient(45deg, rgba(200,50,50,1) 18%, rgba(50,200,50,1) 50%, rgba(50,50,200,1) 82%);
    font-family: Ubuntu;
    overflow: auto;
}

.css {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.css2 {
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.block_1 {
    margin-top: 50px;
    margin-top: 50px;
}