body {
    margin: 70px 0px 0px 0px;
    background-color: silver;
    background-image: url(image/fon.jpg);
    font-family: Ubuntu;
    overflow: auto;
}

.css {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.css2 {
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.block_1 {
    margin-top: 50px;
    margin-top: 50px;
}