.footer
{
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, #eaeaea, #c7c7c7);
}
.footerBoxs
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.imageFooterBox
{
    display: flex;
    min-height: 30px;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
    align-items: center;
}
.textFooterBox
{
    display: block;
    min-height: 30px;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;
    align-items: center;
}
.imageFooterUser
{
    width: 400;
    height: 400;
    margin: auto;
}
.textNandDBox
{
    height: 60%;
}
.textSocialBox
{
    height: 60%;
}
.textName
{
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 44px;
    font-weight: 600;
    color: #000000;
    padding: 80 0 0 40;
}
.textDiscription
{
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 33px;
    font-weight: 400;
    color: #000000;
    padding: 20 0 0 40;
}
.textSocial
{
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    padding: 0 0 0 40;
}
.linkSocial
{
    padding: 10 10 0 0;
    height: 50px;
    width: 50px;
}