#artBody {
    display: block;
}

#photoBody {
    display: block;
}

.buttons {
    color: aliceblue;
    background: transparent;
    border: none;
    font-size: 40px;
    height: 59px;
    outline: none;
    position: absolute;
    height: 100%;
}

.buttonNext {
    color: aliceblue;
    background: transparent;
    border: none;
    font-size: 40px;
    height: 59px;
    outline: none;
    position: absolute;
    height: 100%;
}

.buttonPrev {
    color: aliceblue;
    background: transparent;
    border: none;
    font-size: 40px;
    height: 59px;
    outline: none;
    position: absolute;
    height: 100%;
}

.imgbody {
    width: 100%;
}

#img {
    display: block;
    margin: auto;
}
#art, #photo
{
    position: relative;
}