#artBody {
    display: block;
    margin: auto;
    width: 100px;
    margin-top: 75%;
}

#photoBody {
    display: block;
    margin: auto;
    width: 100px;
    margin-top: 75%;
}

.buttons {
    color: aliceblue;
    background: transparent;
    border: none;
    font-size: 40px;
    height: 59px;
    outline: none;
}

.imgbody {
    width: 100%;
}

#img {
    display: block;
    margin: auto;
}