.galbody {
    display: flex;
    background: #eaeaea;
    margin: 30;
}
.buttons
{
    color: white;
    background: transparent;
    border: none;
}
.imgbody
{
    width: 100%;
}
#img
{
    display: block;
    margin: auto;
}
