.header
{
    top: 0;
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    background-color: #373737;
    display: flex;
    align-items: center;
}
.Saints-home-page
{
    padding: 3px;
    display:  flex;
    width: 200px;
    height: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.boxleft
{
    margin-left: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.boxmid
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}
.boxright
{
    margin-right: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.link
{
    padding: 3px;
    display:  flex;
    width: 100px;
    height: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    background-color: #5D5D5D;
    border-radius: 5px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}
.link:hover
{
    background-color: #848484;
}