.msg
{
    display: block;
    background: #33333385;
    border-radius: 15px;
    margin: auto;
    position: relative;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.info
{
    display: block;
    background: #33333385;
    border-radius: 15px;
    margin: auto;
    position: relative;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.inputForm {
    display: block;
    width: 100%;
    background: #00000085;
    color: #fff;
    font-size: 20px;
    border: 1px double #000000;
    font-family: Ubuntu;
    padding: 10px;
    border-radius: 15px;
    outline: none;
}

.inputForm:focus {
    border: 1px solid #0050ff;
}

#formSend {
    display: block;
    margin: 0px 20px 20px 20px;
}

.textAreaForm {
    display: block;
    width: 100%;
    background: #00000085;
    color: #fff;
    font-size: 20px;
    border: 1px double #000000;
    /* Параметры границы */
    font-family: Ubuntu;
    padding: 10px;
    height: 125px;
    border-radius: 15px;
    outline: none;
    resize: none;
}

.textAreaForm:focus {
    border: 1px solid #0050ff;
}

.sendDisabled {
    background: #00000085;
    color: darkgray;
    display: flex;
    width: 50%;
    margin: 20 auto auto auto;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    transition: 0.25s;
}

.sendEnabled {
    background: #0050ff;
    color: white;
    display: flex;
    width: 50%;
    margin: 20 auto auto auto;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    transition: 0.25s;
}

.sendEnabled:hover {
    background: #0070ff;
    transition: 0.25s;
}

#formSendGoal {
    display: none;
    width: 100%;
    margin: 25px;
}

.textSendGoal {
    color: white;
    text-align: center;
    font-family: Ubuntu;
    font-size: 25px;
    width: 275px;
}

.labelText {
    display: block;
    color: darkgray;
    font-family: Ubuntu;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}