.inputForm {
    display: block;
    width: 100%;
    background: #00000085;
    color: #fff;
    font-size: 20px;
    border: 1px double #000000;
    font-family: Ubuntu;
    padding: 10px;
    border-radius: 15px;
    outline: none;
}

.inputForm:focus {
    border: 1px solid darkblue;
}

#formSend {
    display: block;
    margin: 0px 20px 20px 20px;
}

.textAreaForm {
    display: block;
    width: 100%;
    background: #00000085;
    color: #fff;
    font-size: 20px;
    border: 1px double #000000;
    /* Параметры границы */
    font-family: Ubuntu;
    padding: 10px;
    height: 125px;
    border-radius: 15px;
    outline: none;
    resize: none;
}

.textAreaForm:focus {
    border: 1px solid darkblue;
}

.sendDisabled {
    background: #00000085;
    color: darkgray;
    display: flex;
    width: 50%;
    margin: 20 auto auto auto;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.sendEnabled {
    background: blue;
    color: white;
    display: flex;
    width: 50%;
    margin: 20 auto auto auto;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.sendEnabled:hover {
    background: darkblue;
}

#formSendGoal {
    display: none;
    width: 100%;
    margin: 25px;
}

.textSendGoal {
    color: white;
    text-align: center;
    font-family: Ubuntu;
    font-size: 25px;
    width: 275px;
}

.labelText {
    display: block;
    color: darkgray;
    font-family: Ubuntu;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}